{% extends 'main/base.html' %}

{% block content %}

<div class="container">
	<div class="card">
		<div class="card-body">
			<h3 class="text-center">Login to your account</h3>
			<form action="" method="POST">
				{% csrf_token %}
				<label for="username">Username</label>
				<input type="text" placeholder="Enter your username" class="form-control" name="username">
				<label for="password">Password</label>
				<input type="password" placeholder="Enter your password" class="form-control" name="password">
				<br>
				{% if error %}
					<i style="color:red'">{{ error }}</i>
				{% endif %}
				<input type="submit" value="Login" class="btn btn-danger">
			</form>
		</div>
	</div>
</div>
{% endblock %}