{% extends 'main/base.html' %}

{% block content %}


<div class="container">
	<br>
	<div class="card">
		<div class="row">
			<div class="col-md-4">
				<img src="{{ prod.image }}" alt="image" class="img-fluid">
				<h3>{{ prod.name }}</h3>
			</div>
			<div class="col-md-8">
				<p>Product Type: {{ prod.typ }}</p>
				<p>Product Size: {{ prod.size }}</p>
				<p>Product Cost: {{ prod.cost }}</p>
				<p>Release date: {{ prod.release_date }}</p>
				<p>Product rating:{{ average }}/10</p>
				<p>Product description: {{ prod.description }}</p>
				{% if request.user.is_authenticated %}
					{% if request.user.is_superuser %}
						<a href="{% url 'main:edit_products' prod.id %}" class="btn btn-warning">Edit Product</a>
						<a href="{% url 'main:delete_products' prod.id %}" class="btn btn-warning" onclick="return confirm('Are you sure want to delete this?');">Delete Product</a>
						{% endif %}
				{% endif %}
			</div>
		</div>
	</div>

<br>
<div class="card">
	<div class="card=-body">
		<h3 class="text-center">Reviews</h3>
		<form action="{% url 'main:add_review' prod.id %}" method="POST">
			{% csrf_token %}
			<label for="comment">Review</label>
			<textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
			<label for="rating">Rating</label>
			<input type="range" id="rangeInput" name="rating" min="0" max="10" value="0" step="0.5" oninput="amount.value=rangeInput.value">
			<output name="amount" id="amount" for="rangeInput">0</output>
			<br>
			<input type="submit" class="btn btn-danger" value="Add Review">
		</form>
	</div></div>
	<br>
	<div class="card" style="background-color: black;">
		<div class="card-body" style="background:white;">
			<h3 class="text-center">Reviews</h3>
			{% for review in reviews %}
			<div class="row">
				<div class="col-md-3">
					<h5 class="test-left">{{ review.user.username }}</h5>
					<h5>{{ review.rating }}</h5>
					{% if request.user == review.user %}
					<a href="{% url 'main:edit_review' prod.id review.id %}">Edit</a>
					<a href="{% url 'main:delete_review' prod.id review.id %}" onclick="return confirm('Are you sure want to delete this?');">Delete</a>
					{% endif %}
				</div>
				<div class="col-md-9">
					<p>{{ review.comment }}</p>
				</div>
			</div>
	<br>
	{% endfor %}</div></div>
</div>
</div>
{% endblock %}